<div class="container" style="margin-bottom: 215px;">
  <h1>Property Info</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 control-label">
            Getting Folio Number
        </label>
        <div class="col-sm-9">
          <input #search placeholder="search for location"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="off"
              type="text"
              class="form-control"
              [formControl]="searchControl">
        </div>
        
      </div>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" (click)="staticModal.show()">Get Folio</button>
    </div>
  </div>

  <div class="row" style="margin-top:25px; margin-bottom: 25px;">
    <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="true" [zoom]="zoom"
                    [mapDraggable]="enabled"
                    [styles]="labels"
                    [scaleControl]="enabled"
                    [mapTypeControl]="enabled"
                    [streetViewControl]="enabled">
        <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
    </sebm-google-map>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 control-label">
            Getting Regulation
        </label>
        <div class="col-sm-9">
          <input placeholder="folio number"
              type="text"
              class="form-control"
              [(ngModel)]="folio">
        </div>
        
      </div>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" (click)="sendRequest()">Get Regulations</button>
    </div>
  </div>

  <div *ngIf="show_table" class="row" style="margin-top:25px;">
    <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)" (edit)="edit($event)"></ng2-smart-table>
  </div>
</div>


<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Getting Folio Number</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 600px;">
        <iframe width="100%" height="100%" frameborder="0" scrolling="yes" allowtransparency="true" src="http://www.miamidade.gov/propertysearch/#/"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #infoModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">General Information</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="infoModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 100%;">
        <table class="table table-hover ">
          <thead class="thead-default">
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Case Number</th>
              <td>{{regulation_info.id}}</td>
            </tr>
            <tr>
              <th scope="row">Address</th>
              <td>{{regulation_info.address}}</td>
            </tr>
            <tr>
              <th scope="row">Legal Description</th>
              <td>{{regulation_info.description}}</td>
            </tr>
            <tr>
              <th scope="row">Case Opened On</th>
              <td>{{regulation_info.case_opened}}</td>
            </tr>
            <tr>
              <th scope="row">Case Closed On</th>
              <td>{{regulation_info.case_closed}}</td>
            </tr>
            <tr>
              <th scope="row">Deputy Clerk</th>
              <td>{{regulation_info.deputy_clerk}}</td>
            </tr>
            <tr>
              <th scope="row">Inspector</th>
              <td>{{regulation_info.inspector}}</td>
            </tr>
            <tr>
              <th scope="row">Permit Number</th>
              <td>{{regulation_info.permit_number}}</td>
            </tr>
            <tr>
              <th scope="row">Interested Parties</th>
              <td>{{regulation_info.interested_parties}}</td>
            </tr>
            <tr>
              <th scope="row">Owner Information</th>
              <td>{{regulation_info.owner_info}}</td>
            </tr>
            <tr>
              <th scope="row">Building Code</th>
              <td>{{regulation_info.building_code}}</td>
            </tr>
            <tr>
              <th scope="row">Comments</th>
              <td>{{regulation_info.comments}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #infoTablesModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Information</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="infoTablesModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 100%;">

        <div *ngFor="let item of regulation_info_tables;" class="row">
            <div [innerHTML]="item" style="margin-top: 25px; margin-bottom: 25px;"></div>
        </div>
        
      </div>
    </div>
  </div>
</div>